
button {
    width: 7.5rem;
    height: 3rem;

    display: inline;

    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.15rem;
    
    background-color: #3961e6;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    #pay-loan-button,
    #repay-loan-button {
        background-color: #9839e6;
    }

    #pay-loan-button,
    #repay-loan-button,
    #loan-button {
        width: 100%;
    }
}

#bank-button {
    background-color: #e6e339;
}

#loan-button {
    background-color: #3fe639;
}
